* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.profile-card {
  width: 480px;
  max-width: calc(100vw - 20px);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, .8) 0px 20px 10px;
}

body {
  background:url('assets/hatter.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  font-family: 'Rubik Distressed';
}

.head, .links {
  text-align: center;
}
.head, .content {
  width: 100%;
  margin: 0 auto;
}

.head, .about {
  margin-bottom: 1%;
}

.content {
  padding: 5% 7%;
  border-top: 1.5px solid hsla(0, 0%, 30%, .8);
}

.about  {
  text-align: justify;
}

.name-headline {
  padding-top: 5px;
}

/* Profile image */

img {
  width: 160px;
  height: 180px;
  border-radius: 15%;
  transition: all 1s ease-in-out;
  filter: grayscale(45%);
  padding: 3px;
  background-color: rgb(55, 24, 11);
}

.profile-image {
  margin-top: -20px;
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(30%);
}


/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}

/* Style */

span {
  color: rgba(3, 58, 16, 0.8);
}

.CodeBerry {
  font-weight: 600;
  color:rgb(12, 82, 58);
}

.CodeBerry:hover {
  color:rgb(66, 239, 182);
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2em;
  transform: scale(15);
}

.from {
  font-size: 15px;
  font-weight: bolder;
}
a {
  color: rgba(49, 8, 8, 0.8);
  text-decoration-line: none;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 2px;
}

h2 {
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px;
}

.Budapest {
  font-weight: 500;
  font-size: 16px;
}

.flag {
  color: rgba(82, 11, 7, 0.65);
}

h3 {
  padding-bottom: 10px;
}
